name: Deploy Documentation

on:
  push:
    branches:
      - main # Esegue il workflow ogni volta che fai push sul branch 'main'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del codice
        uses: actions/checkout@v4

      - name: Configurazione di Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11' # Scegli una versione di Python compatibile

      - name: Installazione di MkDocs, Tema e Plugin
        run: |
          python -m pip install --upgrade pip
          # Installa MkDocs principale
          pip install mkdocs 
          # Installa il tema 'material' (che prima mancava)
          pip install mkdocs-material
          # Installa il plugin 'swagger-ui-tag' (che prima mancava)
          pip install mkdocs-swagger-ui-tag

      - name: Generazione della documentazione statica
        run: mkdocs build
        # Questo comando crea la cartella 'site/' con i file HTML pronti per il deployment

      # Passo opzionale: Eseguire il deployment su GitHub Pages
      - name: Deploy su GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GH_PAGES_TOKEN }}
          publish_dir: ./site # Indica a GitHub Pages quale cartella pubblicare
